.rodape__menu {
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-fundo-branco);
    border-radius: 0.75rem 0.75rem 0 0;
    box-shadow: 0 -0.25rem 0.5rem 0 rgba(0, 0, 0, 0.06);
    position: fixed;
    width: 100vw;
    left: 0;
    height: 8vh;
    bottom: 0;
}

.rodape__botao {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.4rem;
    text-align: center;
}

.rodape__imagens {
    margin: 0.1rem auto;
}

.rodape__link {
    text-decoration: none;
    font-size: 0.75rem;
    line-height: 160%;
    color: var(--cor-botao-rodape);
}

.rodape__link__selecionado {
    color: var(--cor-botao-endereco);
}

.opcoes {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: fixed;
    bottom: 7%;
    right: 0%;
}

.lista__menu__link {
    text-decoration: none;
    color: var(--cor-texto-principal);
    background-color: var(--cor-fundo-branco);
    padding: 0.1rem 0.7rem;
    border-radius: 2in;
    font-weight: 500;
    font-size: 0.75rem;
}

.lista__menu__item {
    display: flex;
    align-items: center;
}

.lista__menu {
    display: none;
}

.opcoes__menu:checked ~ .lista__menu {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: rgba(70, 70, 70, 0.6);
    box-shadow: 0 0 0 300vh rgba(70, 70, 70, 0.6);
}

.opcoes__menu {
    display: none;
}

.formulario{
    display: none;
}

@media screen and (min-width: 768px) {
    .rodape__imagens{
        width: 40%;
        height: 40%;
    }

    .rodape__link {
        font-size: 1rem;
    }

    .lista__menu__link {
        font-size: 1.2rem;
    }

    .lista__menu__imagem {
        width: 8rem;
    }

}

@media screen and (min-width: 970px) {
    .rodape__menu {
        justify-content:flex-start;
        flex-direction: column;
        border-radius: 0 0.75rem 0.75rem 0;
        box-shadow: -0.25rem 0 0.5rem 0 rgba(0, 0, 0, 0.06);
        width: 12rem;
        right: 0;
        height: 100vh;
        top: 0;
        padding-top: 1rem;
    }

    .rodape__botao {
        flex-direction: row;
        justify-content: flex-start;
        padding: 0;
        text-align: right;
        align-items: center;
    }
    
    .rodape__imagens {
        margin: 0.1rem;
    }

    .opcoes {
        display: none;
    }
    
    .rodape__link:hover{
        color: var(--cor-botao-endereco);
    }

    .formulario{
        display: flex;
        position: fixed;
        bottom: 5vh;
    }
    
    .formulario__preencher {
        display: none;
    }

    .formulario__cheked:checked ~ .formulario__preencher {
        display: flex;
        background-color: var(--cor-fundo-branco);
        position: fixed;
        left: 12rem;
        bottom: 0;
        padding: 1rem 10rem 1rem 0;
        align-items: center;
        flex-wrap: wrap;
        width: 88vw;
    }

    .formulario__titulo{
        font-weight: 500;
        margin: 0.5rem;
        background-color: var(--cor-botao-endereco);
        color: var(--cor-texto-branco);
        border-radius: 2in;
        padding: 1rem;
    }

    .formulario__itens{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .formulario__cheked{
        display: none;
    }

    .formulario__secao{
        display: flex;
        flex-direction: column;
        margin: 2rem 2rem;
    }

    .formulario__descricao{
        font-size: 1.2rem;
        font-weight: 500;
    }

    .formulario__botao{
        width: 12rem;
        background-color: var(--cor-botao-endereco);
        color: var(--cor-texto-branco);
        border: none;
        border-radius: 1rem;
        font-size: 1.5rem;
        margin: 1.5rem;
        padding: 1rem;
    }

    .input__nome{
        border-radius: 1rem;
        padding: 0.3rem;
        width: 100%;
        border: 2px solid var(--cor-botao-endereco);
        font-size: 1rem;
        font-family: var(--fonte-principal);
    }

    input[type="time"] {
        width: 5rem;
        text-align: center;
        text-decoration: none;
        font-family: var(--fonte-principal);
        font-size: 1rem;
        border: 2px solid var(--cor-botao-endereco);
    }

    textarea{
        border-radius: 1rem;
        border: 2px solid var(--cor-botao-endereco);
        padding: 0.4rem;
        font-family: var(--fonte-principal);
        font-size: 0.8rem;

    }
    
}