.cabecalho {
    margin: 2rem 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cabecalho__imagem {
    width: 3.6rem;
    height: 3.6rem;
    background-image: url(/img/dr-sonia.svg);
    background-size: 100%;
    border-radius: 100%;
}

.cabecalho__saudacao {
    font-weight: 700;
    font-size: 1.4rem;
}

.cabecalho__consultas {
    color: var(--cor-texto-secundario);
}

@media screen and (min-width: 768px) {
    .cabecalho__imagem {
        width: 4.6rem;
        height: 4.6rem;
    }

    .cabecalho__saudacao {
        font-size: 2rem;
    }

}